<%= form_for @property_photo, :html => { :class => "form-horizontal property_photo" } do |f| %>

    <% if @property_photo.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@property_photo.errors.count, "error") %> prohibited this property_photo from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @property_photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :source, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source, :class => 'form-control' %>
    </div>
    <%= error_span(@property_photo[:source]) %>
  </div>
  <div class="control-group">
    <%= f.label :caption, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :caption, :class => 'form-control' %>
    </div>
    <%= error_span(@property_photo[:caption]) %>
  </div>
  <div class="control-group">
    <%= f.label :property_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_id, :class => 'form-control' %>
    </div>
    <%= error_span(@property_photo[:property_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            property_photos_path, :class => 'btn btn-default' %>

<% end %>
