<% @properties.each do |p| %>
<div class="col-lg-6 property">
  <div class="row">
    <div class="col-lg-6"><%= image_tag p.photo.url, class: 'img-tumbnail img-responsive' %></div>
    <div class="col-lg-6">
      <h4><%= p.name %></h4>
      <div class="tipo">
        <small><%= p.property_type.name %> en <%= p.property_category.name %></small>
      </div>

      <p class="text-danger"><b><%= number_to_currency(p.price) %></b><Strong><%= ' / mes' if p.property_type.name == 'Alquiler' %></Strong> </p>
      <div class="features">
        <small>habitaciones: <span class="badge"><%= p.rooms %></span></small>
        <small>Baños: <span class="badge"><%= p.bathrooms %></span></small>
        <small>Parqueos: <span class="badge"><%= p.parking %></span></small>
      </div>
      <%= link_to 'Ver Propiedad', public_properties_show_path(p), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>